.user_title {
	padding: 30px 0;
	font: bold 28px/38px 'Microsoft Yahei';
	color: #666;
	text-align: center
}

.t_nationWarp {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 100px
}

.t_nationTabList {
	position: relative;
	display: none
}

.t_nationTabUl {
	font-size: 0;
	text-align: center
}

.t_nationTabUl li {
	display: inline-block;
	width: 167px;
	height: 46px;
	border: 1px solid #ff546a;
	background-color: #fff;
	font: 18px/46px 'Microsoft Yahei';
	color: #ff546a;
	cursor: pointer;
	text-align: center;
	*display: inline;
	*zoom: 1
}

.t_nationTabUl .t_nationCur {
	background-color: #ff546a;
	color: #fff
}

.t_nationListMain {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 65px
}

.t_nationUlist {
	float: left;
	width: 378px;
	height: 380px;
	margin: 0 30px 20px 0;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s
}

.t_nationUlist:hover {
	box-shadow: 0 0 8px #d6d6d6
}

.t_nationUl {
	width: 110%
}

.t_nationUl .t_nationListEnd {
	margin-right: 0
}

.t_nationUlPicM {
	border-bottom: 1px solid #d9d9d9
}

.t_nationUlPic {
	width: 378px;
	height: 254px
}

.t_nationInfo {
	padding: 0 20px
}

.t_nationItop {
	overflow: hidden;
	width: 100%;
	height: 42px;
	padding-top: 2px;
	border-bottom: 1px dashed #e4e4e4;
	font: 16px/42px 'Microsoft Yahei';
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis
}

.t_nationIbottom {
	padding-top: 10px
}

.t_nationIit {
	overflow: hidden;
	width: 316px;
	padding: 0 0 10px 22px;
	font: 14px/20px 'Microsoft Yahei';
	color: #666;
	white-space: nowrap;
	text-overflow: ellipsis
}

.ico-nationDizhi {
}

.ico-nationDianhua {
}

.t_nationPage {
	text-align: right
}

.t_nationPage span, .t_nationPage a {
	display: inline-block;
	height: 20px;
	padding: 0 6px;
	border: 1px solid #f9f9f9;
	font-size: 14px;
	line-height: 20px;
	color: #666
}

.t_nationPage a:hover, .t_nationPage .t_nPageCur {
	border: 1px solid #cfcfcf;
	text-decoration: none
}

.t_nationPage .t_nPageCur {
	border: 1px solid #6b93c3;
	color: #6b93c3
}

.city_sele {
	position: absolute;
	top: 20px;
	right: 0
}

.sele_btn {
	display: block;
	width: 88px;
	height: 24px;
	border: 1px solid #cecece;
	background-color: #fff;
	font: 14px/24px 'Microsoft Yahei';
	color: #666;
	text-align: center;
	text-decoration: none
}

.sele_btn:hover {
	background-color: #f5f5f5;
	text-decoration: none
}

.sele_btn i {
	display: inline-block;
	width: 9px;
	height: 6px;
	margin-left: 5px;
	cursor: pointer;
	vertical-align: middle;
	_margin-top: 11px
}

.sele_wrap {
	position: absolute;
	z-index: 98;
	top: 37px;
	right: 0;
	width: 300px;
	padding: 0 10px;
	border: 1px solid #cecece;
	background-color: #fff
}

.sele_wrap i {
	position: absolute;
	z-index: 99;
	top: -11px;
	right: 35px;
	display: block;
	width: 20px;
	height: 11px;
}

.sele_nav {
	height: 27px;
	margin-top: 12px;
	border-bottom: 1px solid #d9d9d9;
	font-size: 0
}

.sele_nav a {
	display: inline-block;
	height: 26px;
	padding: 0 5px;
	border-bottom: 2px solid transparent;
	font: 12px/26px 'Arial';
	color: #666;
	text-decoration: none;
	*display: inline;
	*zoom: 1;
	_position: relative;
	_top: 1px
}

.sele_nav a:hover {
	text-decoration: none
}

.sele_nav a.cur {
	border-bottom: 2px solid #f00;
	color: #ff546a
}

.sele_main {
	height: 120px;
	padding: 10px 0;
	font: 12px/22px 'Arial';
	color: #ff546a
}

.sele_main p {
	margin-right: -45px;
	font-size: 0
}

.sele_main p a {
	display: inline-block;
	width: 50px;
	margin: 4px 19px 4px 10px;
	font: 12px/14px 'SimSun';
	color: #333;
	*display: inline;
	*zoom: 1
}

.sele_note {
	padding-bottom: 10px;
	font: 12px/26px 'Microsoft Yahei';
	text-align: center
}

.sele_note a {
	color: #2c81d6
}

.t_memberTB {
	padding: 20px 0
}

.show {
	display: block !important
}

.hide {
	display: none
}

.t_storeTb {
	margin-top: 20px !important;
	margin-bottom: 20px !important
}

.t_storeMain {
	width: 1200px;
	margin: 0 auto;
	background: #fff
}

.t_storeMain .t_storeWarp {
	padding: 30px
}

.t_storeMain .t_storeWarp .t_storePicL {
	float: left;
	width: 650px
}

.t_storeMain .t_storeWarp .t_storePicL .t_storePicMl {
	float: left;
	width: 520px;
	height: 350px
}

.t_storeMain .t_storeWarp .t_storePicL .t_storePicMl .t_storePicMli {
	width: 520px;
	height: 350px
}

.t_storeMain .t_storeWarp .t_storePicL .t_storePicMr {
	float: left;
	width: 120px;
	margin-left: 10px
}

.t_storeMain .t_storeWarp .t_storePicL .t_storePicMr .t_storePicUl {
	overflow: hidden;
	height: 355px
}

.t_storeMain .t_storeWarp .t_storePicL .t_storePicMr .t_storePicUl li {
	position: relative;
	width: 120px;
	height: 80px;
	margin-bottom: 10px;
	cursor: pointer
}

.t_storeMain .t_storeWarp .t_storePicL .t_storePicMr .t_storePicUl li.sotreCur .t_storePicMark
	{
	display: block
}

.t_storeMain .t_storeWarp .t_storePicL .t_storePicMr .t_storePicUl img {
	width: 120px;
	height: 80px
}

.t_storeMain .t_storeWarp .t_storePicL .t_storePicMr .t_storePicUl .t_storePicMark
	{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 116px;
	height: 76px;
	border: 2px solid #38abd0
}

.t_storeMain .t_storeWarp .t_storePicR {
	float: left;
	width: 445px;
	margin-left: 45px
}

.t_storeMain .t_storeWarp .t_storePicR .t_storePH2 {
	height: 62px;
	padding-top: 46px;
	font-size: 28px;
	line-height: 62px;
	color: #333
}

.t_storeMain .t_storeWarp .t_storePicR .t_storePIDiv {
	font-size: 14px;
	line-height: 40px
}

.t_storeMain .t_storeWarp .t_storePicR .t_storeMen {
	float: left;
	width: 70px;
	color: #888
}

.t_storeMain .t_storeWarp .t_storePicR .t_storeDizhi {
	margin-left: 70px;
	color: #333
}

.t_storeMain .t_storeWarp .t_storePicR .t_storeBtns {
	padding-top: 18px
}

.t_storeMain .t_storeWarp .t_storePicR .t_storeBtn {
	display: inline-block;
	width: 190px;
	height: 40px;
	background: #ff546a;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	text-align: center
}

.t_storeMain .t_storeWarp .t_storePicR .t_storeBtn:hover {
	background-color: #ff2642;
	text-decoration: none
}

.t_storeMain .t_storeWarp .t_storeTextL {
	float: left;
	width: 115px;
	font: 22px/24px 'Microsoft Yahei';
	color: #333
}

.t_storeMain .t_storeWarp .t_storeTextR {
	float: left;
	font: 14px/32px 'SimSun';
	color: #666
}

.t_storeMain .t_storeTabMains {
	margin-bottom: 20px;
	border-bottom: 5px solid #fff
}

.t_storeMain .t_storeTabMains .t_storeTab {
	height: 44px;
	border-bottom: 1px solid #dcdcdc
}

.t_storeMain .t_storeTabMains .t_storeTab li {
	float: left;
	width: 148px;
	height: 42px;
	border: 1px solid #fff;
	border-top: 2px solid #fff;
	border-bottom: 1px solid #dcdcdc;
	background-color: #fff;
	font: bold 20px/42px 'Microsoft Yahei';
	color: #888;
	cursor: pointer;
	text-align: center;
	_position: relative;
	_top: 1px
}

.t_storeMain .t_storeTabMains .t_storeTab li.cur {
	border: 1px solid #dcdcdc;
	border-top: 2px solid #ff7474;
	border-bottom: 1px solid #fff;
	background-color: #fff;
	color: #4c4c4c
}

.t_storeMain .t_storeTabList {
	display: none
}

.t_storeMain .t_storeTabList .t_storePopular {
	overflow: hidden;
	width: 1200px
}

.t_storeMain .t_storeTabList .t_storePopular .t_storePUl {
	width: 110%
}

.t_storeMain .t_storeTabList .t_storePopular .t_storePUl li {
	float: left;
	width: 378px;
	height: 284px;
	margin: 0 30px 20px 0;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s
}

.t_storeMain .t_storeTabList .t_storePopular .t_storePUl li:hover {
	box-shadow: 0 0 8px #d6d6d6
}

.t_storeMain .t_storeTabList .t_storePopular .t_storePUl a {
	position: relative;
	display: block;
	width: 378px;
	height: 228px
}

.t_storeMain .t_storeTabList .t_storePopular .t_storePUl a:hover {
	text-decoration: none
}

.t_storeMain .t_storeTabList .t_storePopular .t_storePUl img {
	width: 378px;
	height: 228px
}

.t_storeMain .t_storeTabList .t_storePopular .t_storePUl p {
	height: 54px;
	line-height: 54px;
	padding: 0 24px;
	border-top: 1px solid #d9d9d9
}

.t_storeMain .t_storeTabList .t_storePopular .t_storePUl p .t_storePtl {
	float: left;
	font-family: 'Microsoft Yahei';
	font-size: 16px;
	color: #333
}

.t_storeMain .t_storeTabList .t_storePopular .t_storePUl p .t_storePtr {
	float: right;
	font-family: 'SimSun';
	font-size: 14px;
	color: #666
}

.t_storeBorder {
	outline: 1px solid #d9d9d9
}

.t_storeNobg {
	background: #f9f9f9 !important
}

.user_list li {
	float: left;
	opacity: .8;
	filter: alpha(opacity = 80)
}

.user_list li a {
	position: relative;
	display: block;
	overflow: hidden;
	width: 238px;
	height: 238px;
	border: 1px solid #fff;
	text-decoration: none
}

.user_list li a:hover {
	text-decoration: none
}

.user_list li img {
	position: absolute
}

.user_list li p {
	position: absolute;
	z-index: 99;
	bottom: -28px;
	left: 0;
	width: 238px;
	height: 28px;
	font: 14px/28px 'Microsoft Yahei';
	color: #fff;
	cursor: pointer;
	text-align: center;
	text-decoration: none
}

.t_storeJiaotong {
	padding-bottom: 18px;
	padding-left: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #666
}

.t_ico_subway {
}

.t_ico_car {
}

.t_storeMap {
	height: 522px;
	border: 1px solid #d9d9d9
}

.t_storeBoomMark {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .5;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity = 80)
}

.t_storeBoomMain {
	position: absolute;
	top: 153px;
	left: 50%;
	width: 860px;
	height: 480px;
	margin-left: -430px
}

.t_storeClose {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 14px;
	height: 14px;
	cursor: pointer
}

.t_storeBoomMl {
	float: left;
	width: 80px;
	height: 480px;
	cursor: pointer
}

.t_storeBoomMr {
	float: right;
	width: 80px;
	height: 480px;
	cursor: pointer
}

.t_storeBoomMc {
	position: relative;
	overflow: hidden
}

.t_storeBoomMc, .t_storeBoomMc img {
	float: left;
	width: 700px;
	height: 480px
}

.t_storeBoomMul {
	position: absolute;
	top: 0;
	left: 0
}

.t_storeBoomMul li {
	float: left;
	width: 700px;
	height: 480px
}